.{
    padding: 0;
    margin: 0;
}



.imagen-principal{
    width: 500px;
    opacity: 0.5;

}

.imagen-principal:hover {
    opacity: 1;
}

.galeria {
    display: flex;
}

.imagen-galeria{
    width: 150px;
}
