div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

.relativo{
    position: relative;
    left: 50px;
    margin-left: 10px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
}

.absolute {
    position: absolute;
    top: 0%;
    right: 0px;
}

.sticky {
    position: sticky;
    background-color: darksalmon;
    color: white;
    top: 0%;
    z-index: 2;
}