body {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-modern {
  width: 110px;
  height: 90px;
  border-radius: 5px;
  background-color: beige;
  color: black;
  cursor: pointer;
}

.btn-modern:hover {
  transform: translateX(0%) translateY(-5px);
  animation: translation 0.4s;
}

@keyframes translation {
  0% {
    background-color: beige;
    transform: translateX(0%) translateY(100%);
  }

  100% {
    color: white;
    background-color: blue;
    transform: translateX(100%) translateY(0%);
  }
}
