

html{
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: 'Rubik Puddles', cursive;*/
    font-family: 'Cherry Bomb One', cursive;   /*importar desde google*/ 
    font-size: larger;
    font-weight: 700;
    /*https://fonts.google.com/ url para importar font de google*/

}